.sellaccessory{
background-image:url(../../img/hero-bg.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
    /* font-size: 2rem; */
    padding: 40px 20px;
height: 300px;

}


.sellaccessory h1{
    color: white;

    text-align: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sellaccessory p{


    text-align: center;
    font-size: 1rem;
    color: rgb(0, 0, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



/* ------------------------Media-query------------------- */


@media all and (max-width:500px){



#sellcar Form{
margin: 10px 10px;
padding: 30px 25px;
border: 2px solid black;
/* text-align: center; */
}


#submit-btn{margin: auto;
text-align: center;

}

}