.sellaccessory{
    background-color: aliceblue;
/* background-image: url(//public/img/nissan.jpg); */


    /* font-size: 2rem; */
    padding: 40px 20px;
height: 300px;






}


.sellaccessory h1::-ms-reveal{
background-color: aqua;

    text-align: center;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sellaccessory p{


    text-align: center;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}