*{padding: 0;
margin: 0px;
box-sizing: border-box;}

.menu{
    background-color: rgb(0, 0, 0);
    padding: 20px 10px;
    
}
/* 
.active_class{color: white;
font-size: 1.8em;
text-decoration: none;} */
#link1{
    color:blue;
text-decoration: none;

    font-size: 20px;
}
#link1:hover{
    color:rgb(50, 199, 184);
text-decoration: none;
border-radius: 2px;
border-bottom: 2px solid yellow ;
    font-size: 25px;
}
#link1:active{
    color:rgb(199, 50, 110);
text-decoration: none;
border-radius: 10px;
border-bottom: 2px solid rgb(86, 86, 4) ;
    font-size: 25px;
}
.menu ul{
display: grid;
justify-content: right;
/* align-items: center; */
grid-template-columns :790px  90px 90px 90px 90px 180px 110px;
/* text-align: center; */

}

.closebutton{
margin: 20px;
/* margin-left: 10px; */

}

.shop{

margin-left: 18px;

}
.menu ul span a{
color: red;
font-weight: 800;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1.9rem;
    text-decoration: none;
}
.menu ul span a:hover{
color: rgb(194, 186, 186);
font-weight: 800;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 2rem;
    text-decoration: none;
}
.menu ul li{

    list-style-type: none;
    /* text-decoration: none; */
}

.menu ul li a{
font-size: 1.5em;
color: white;
font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* list-style-type: none; */
    text-decoration: none;
}

.menu ul li a:hover{
font-size: 1.5em;
color: rgb(255, 13, 13);
font-family:  Arial, Helvetica, sans-serif;
    /* list-style-type: none; */
    text-decoration: none;
}