
.footer{
    background-color:black ;
    /* background-image: url(../img/overlay-bg.jpg); */

background-position: center;
width:100%;
color: white;
background-size: cover;
padding: 10px 13px;
}
.footer .innerdiv{
padding-top: 20px;
display: grid;
padding: 10px 20px;
grid-template-columns: 40% 40%;
grid-gap: 200px;
}
.innerdiv h2::before{
    content: "-";
font-size: 2rem;
}
.innerdiv h2{
    padding: 10px 15px;
    font-size: 2rem;
    padding-top: 20px;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

 span{
    display: grid;
    padding: 10px 20px;
    /* justify-content: center; */
    /* align-items: center; */
text-align: center;
font-size: 18px;

}
.innerdiv #address{
    text-align: center;
}
#otherstuff h3{

    text-align: left;


}

#otherstuff a{
 color: white;
 
 
    text-decoration: none;
}

#social{
padding: 10px 20px;
font-size: 20px;
color: azure;



}
.dropdown{
padding: 10px 5px;

}
#link21{

    text-decoration: none;
font-size: 20px;
color: white;
margin-left: 10px;

}

#link21::before{
content: "|";
    text-decoration: none;
font-size: 30px;
color: rgb(255, 255, 255);
margin-right: 10px;

}



/* Media query */

@media all and (max-width:500px){







.footer .innerdiv{
padding-top: 20px;
display: block;
align-items: center;
}
.footer span{
    display: block;
    padding: 10px 20px;
    /* justify-content: center; */
    align-items: center;
}




.innerdiv #address{
    text-align: center;
}
#otherstuff h3{

    text-align: left;


}


}