/* STYLING FOR FORM */

#form{

    padding: 40px 90px;

background-color: rgb(176, 163, 146);
}
#form h1{
    text-align: center;
}


/* STYLING FOR CAROUSEL */
.carousel{padding-top: 20px ;}


#pic{
width: 90%;
height: auto;
margin: auto;

}
#cont{
    color: aqua;
    text-align: center;
    margin: 20px 10px;
}
.container-fluid{
padding: 0px 0px;

}