


#service{

background-color: rgba(240, 248, 255, 0.634);
padding: 40px 30px ;

}

.heading{
    text-align: center;
}

.container-fluid .info{

     display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;   
}

.info_1 .img1{

width: 400px;
height: 400px;
display: grid;
/* border-radius: 100px; */
/* padding-top: 20px; */


}

.info_1 .img1:hover{
width: 100%;
padding-top: 0px;
border-radius: 100px;
border: 4px solid black;
height: auto;
display: grid;


}
