#shop {
padding: 140px 120px ;
border: 2px solid black;
background-image:url(../img/hero-bg.jpg) ;
background-position: center;
background-size: cover;

}

#cards{

display: grid;
grid-template-columns: 30% 31% 33%;
grid-gap: 40px;
margin: 20px 10px;
}
#content{text-align: center;}
.card{padding: 20px 10px;}

.card img{width: 400px;
height: 400px;
margin: auto;}
.card div{
    margin-top: 15px;
padding: 10px 15px;
/* text-align: center; */
background-color: #f1efed;
}
#addtocart{
    padding: 10px 15px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
}#addtocart:hover{
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 10px 15px;
    border-radius: 12px;
    color: white;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}